<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title>Add New Member</title>
  <link rel="stylesheet" href="/styles/new.css"/>
</head>
<body>
  <form action="/new" method="post">
    <h1>New Member</h1>
    <input type="text" name="name" required placeholder="Name"/>
    <div class="color-picker">
      <% ['red','orange','yellow','olive','green','teal','blue','violet','purple','pink'].forEach(col => { %>
        <input type="radio" name="color" id="<%= col %>" value="<%= col %>"/>
        <label for="<%= col %>"><span class="<%= col %>"></span></label>
      <% }) %>
    </div>
    <button type="submit">Add Member</button>
  </form>
</body>
</html>
